<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>IoC Container Demo</h1>
            </div>

            <div id="logindisplay">
                &nbsp;
            </div>

            <div id="menucontainer">

                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("No Dependencies", "Index", "NoDependencies")</li>
                    <li>@Html.ActionLink("A Few Simple Dependencies", "Index", "AFewSimpleDependencies")</li>
                    <li>@Html.ActionLink("Many Deep Dependencies", "Index", "ManyDeepDependencies")</li>
                </ul>

            </div>
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
